<ion-view view-title="News Feed">
  <ion-content class="padding">

    <div class="list">
      <a class="item item-thumbnail-right">
        <img ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Circle-icons-profle.svg/768px-Circle-icons-profle.svg.png">
        <label class="item item-input">
          <input type="text" placeholder="What's on your mind?">
        </label>
        <div class="row">
          <div class="col col-50">
            <button class="button button-positive"><i class="icon ion-android-image"></i></button>
            <button class="button button-positive"><i class="icon ion-ios-videocam"></i></button>
          </div>
        </div>
      </a>
      <a ng-repeat="item in items" href="#/{{item.id}}" class="item item-thumbnail-left">
        <img ng-src="{{ item.image }}">
        <h2>{{ item.album }}</h2>
        <div class="row">
          <div class="col col-50 col-offset-25">
            <button class="button button-calm"><i class="icon ion-thumbsup"></i></button>
            <button class="button button-energized"><i class="icon ion-chatbox"></i></button>
            <button class="button button-balanced"><i class="icon ion-share"></i></button>
          </div>
        </div>
      </a>
    </div>

</ion-view>
