<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Projects</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Active
    </ion-list-header>
    <button ion-item *ngFor="let item of active" (click)="itemTapped($event, item)">
      <ion-icon name="clipboard" item-left></ion-icon>
      {{item.title}}
    </button>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Others
    </ion-list-header>
    <button ion-item *ngFor="let item of allProjects" (click)="itemTapped($event, item)">
      <ion-icon name="clipboard" item-left></ion-icon>
      {{item.title}}
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
